    </main>
<footer>
    <p>Copyright &copy; 2026 Tech Team 2</p>
</footer>

</div> <!-- sluit de .layout div -->

<script src="/socket.io/socket.io.js"></script>

<% if (locals.currentUser) { %>
  <script>
    var currentUserId = "<%= locals.currentUser.id %>";
  </script>
<% } else { %>
  <script>var currentUserId = null;</script>
<% } %>

<script src="/js/notifications.js"></script>

</body>
</html>