</main>
<footer>

  <div>
    <h2>GameMatch</h1>
    <p>Find gamers that match your playstyle</p>
  </div>

  <ul>
    <li><a href="/index">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/privacy">Privacy Policy</a></li>
  </ul>

</footer>


<script src="/socket.io/socket.io.js"></script>

<% if (locals.currentUser) { %>
  <script>
    var currentUserId = "<%= locals.currentUser.id %>";
  </script>
<% } else { %>
  <script>var currentUserId = null;</script>
<% } %>

<script src="/js/notifications.js"></script>

</body>
</html>