<link rel="stylesheet" href="/styles/style.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"> -->

<header>
    <nav>
      <% if (currentUser) { %>

        <a href="/matches">Matches</a>
        <a href="/dashboard">Dashboard</a>

        <a href="/inbox" class="nav-inbox-link">
          Inbox
          <span class="inbox-badge" style="display: none;">0</span>
        </a>

        <form action="/logout" method="POST">
          <button type="submit">Log out</button>
        </form>
      <% } else { %>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/login">Log in</a>
      <% } %>
    </nav>
  </div>
</header>
