<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= typeof title !=='undefined' ? title : 'GameMatch' %>
  </title>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
  <header>
    <nav>

      <a href="/" class="logo">
        <img src="/images/Logo-website-rideordie.png" alt="Logo">
      </a>

      <div>
        <% if (currentUser) { %>
          <a href="/matches">Matches</a>
          <a href="/about">About</a>
          <a href="/dashboard">Dashboard</a>

          <a href="/inbox" class="nav-inbox-link">
            <img src="/images/mail.png" alt="Inbox" class="inbox-icon">
            
            <span class="inbox-badge">0</span>
          </a>

          <form action="/logout" method="POST">
            <button type="submit">Log out</button>
          </form>
          <% } else { %>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/login">Log in</a>
            <% } %>
        </div>
    </nav>
  </header>
  <main>