<article class="playerCard">

    <div class="playerContent">
        <div class="playerInfo">
            <img src="/images/player-placeholder.png" alt="Speler Foto">
            <h3>Naam</h3>
            <p>Leeftijd</p>
            <p>Positie</p>
        </div>
        <div class="playerGames">
            <img src="/images/team-placeholder.png" alt="Team Logo">
            <img src="/images/league-placeholder.png" alt="League Logo">
        </div>
    </div>

    <div class="playerButtons">
        <a href="#">Bekijk Profiel</a>
        <a href="#">vriendschapsverzoek</a>
    </div>
</article>