<nav class="profile-nav">
  <a href="/dashboard/edit?id=<%= user._id %>">Edit Profile</a>
  <a href="/dashboard/personal-info?id=<%= user._id %>">Personal Information</a>
  <a href="/dashboard/privacy?id=<%= user._id %>">Privacy</a>
</nav>