<div id="sidebar" class="sidebar">

    <div class="top-icon">
        <button id="toggleSidebar">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>

    <div class="bottom-icons">
        <a href="/"><i class="fa-solid fa-house"></i></a>
        <a href="/dashboard"><i class="fa-solid fa-user"></i></a>
        <a href="/inbox" class="sidebar-inbox-link">
            <i class="fa-solid fa-envelope"></i>
            <span class="inbox-badge" style="display: none;">0</span>
        </a>
        <a href="#"><i class="fa-solid fa-gear"></i></a>
    </div>

</div>
