<%- include('../partials/header') %>



    <main class="content">
        <h1>Homepage</h1>
        <p>Hier komt je content.</p>
    </main>

<%- include('../partials/playerCard')  %>
<%- include('../partials/footer') %>
