<%- include('../partials/header')%>

<div class="search-container">
    <form action="/zoekbalk.ejs" method="get">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">Search</button>
    </form>
  </div>


<%- include('../partials/footer') %>